h3
{
	text-align: center;
}

body
{
	background-color: #fff;
	color: black;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-image:image-url('back.jpg');
	

	bachground-repeat:no-repeat;
	background-size: 100%;
}

